<!-- Animation -->
<div >
<img class="an" src="assets/img/pexels-radoslaw-wisniewski-4504591.jpg" alt="">
</div>

<body class="p-4">
  

  <!-- cards -->
  <div class="cards p-3 container-fluid">
    <div class="row ">

      <div class="card p-2 col-lg-3 shadow-lg" style="width: 18rem ;margin-left: 30px; ">
        <img src="assets/img/OIP (2).jpg" class="card-img-top s-2" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Vegetables</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <br>
          <a routerLink="/view-vegitables" class="btn btn-success">View More Items</a>
        </div>
      </div>
      <div class="card col-lg-3 shadow-lg" style="width: 18rem;margin-left: 30px;">
        <img  src="assets/img/thumb-1920-1086007.jpg " class="card-img-top   s-1" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fruits</h5>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <br>
          <a routerLink="/view-fruits" class="btn btn-success">View More Items</a>
        </div>
      </div>
      <div class="card col-lg-3 shadow-lg" style="width: 18rem;margin-left: 30px;">
        <img style="height: 184px;" src="assets/img/1624855.jpg" class="s-1 card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title">Groceries</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
            <br>
          <a routerLink="/view-groceries" class="btn btn-success">View More Items</a>
        </div>
      </div>
      <div class="card col-lg-3 shadow-lg" style="width: 18rem;margin-left: 30px;">
        <img src="assets/img/1462795.webp" class="card-img-top s-1" alt="...">
        <div class="card-body">
          <h5 class="card-title">Meats</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/view-meats" class="btn btn-success">View More Items</a>
        </div>
      </div>

    </div>


  </div>
<!-- <br><br>
  <div class="card-footer p-5 pt-0 border-top-0 bg-transparent">
    <div class="text-center"><a routerLink="/view-cart" class="btn btn-outline-danger mt-auto">View Cart</a></div>
  </div> -->


</body>