

    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg ">
          <div class="container">
            <a class="navbar-brand" href="#"  >            
              <i class="fa-solid fa-store fa-2x" style="color: black;"></i>
              <span  style="color: white;font-size: 30px;">MINI</span> MART</a>
              <div class="card-footer pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a routerLink="/view-cart" class="btn btn-outline-dark" >View Cart</a></div>
            </div>
          
          </div>
        </nav>
  </header>
  
<router-outlet></router-outlet>
<!-- Footer-->
<footer class="py-5 p-2 text-dark" style="background-color: beige;">
  <div class="container"><p class="m-0 text-center ">Muhammed Safvan; My Website 2023</p></div>
</footer>
